* {
    font-family: Arial, Helvetica, sans-serif;
}

.course_list {
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 0%;

}

.course_card {
    display: flex;
    border-bottom: 1px solid #808080;
    padding: 1em;
}

.course_image {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    border-radius: 5%;
    object-fit: cover;
}

.institute_image{
    width: 25px;
    margin-right: 5px

}

.institute_container{
    display:flex;
    align-items: center;
    margin-bottom: 10px
}

.course_info {
    margin-left: 1em;
}

.course_name {
    color: #002145;
    font-size: large;
    margin-top: 0;
}

.school_name {
    color: #0055B7;
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 2px;
}

.instructor {
    color: #808080;
    font-size: small;
    margin-top: 0;
    margin-bottom: 0;
}

.instructor_title {
    color: #808080;
    font-size: small;
    margin-top: 0;
    font-weight: normal;
}

.difficulty {
    color: #808080;
    font-size: smaller;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

.course_detail {
    color: #808080;
    font-size: small;
}

.description {
    background-image: linear-gradient(#42A1EC, #0070C9);
    border: 1px solid #0077CC;
    border-radius: 4px;
    margin-top: 10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.description:hover {
    background-image: linear-gradient(#51A9EE, #147BCD);
    border-color: #1482D0;
    text-decoration: none;
}

.description:disabled {
    cursor: default;
    opacity: .3;
}

.description:active {
    background-image: linear-gradient(#3D94D9, #0067B9);
    border-color: #006DBC;
    outline: none;
}

.description:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: none;
}